@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  font-family: 'Poppins', sans-serif;
}

.no-scrollbar {
  scrollbar-width: none !important;        /* Firefox */
  -ms-overflow-style: none !important;     /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;     /* Chrome, Safari */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}


/*  */

.kanban-scroll::-webkit-scrollbar {
  width: 12px; /* Total width of scrollbar */
}

.kanban-scroll::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 8px;
  margin: 4px 0; /* Optional: space top and bottom */
}

.kanban-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 6px;
  width: 8px; /* Not used directly, but padding via inset shadow works better */
  border: 2px solid transparent;
  background-clip: content-box; /* Makes the thumb thinner than the track */
}